.movie img {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.movie img:hover,
.movie img:focus,
.movie img:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.moviebaner img {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.moviebaner img:hover,
.moviebaner img:focus,
.moviebaner img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    /*border: 1px solid red;*/
}

