*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

body{

    background-color: gray;
}

.social{

    justify-content: center;
    display: flex;
}

.fim{

    margin-top: 50px;
    margin-right: 50px;
}