@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

a {

    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {

    color: red;
    cursor: pointer;
}

span:hover {

    color: red;
    cursor: pointer;
}

.span2:hover {

    color: red;
    cursor: pointer;
}

.span3:hover {

    color: red;
    cursor: pointer;
}

.span4:hover {

    color: red;
    cursor: pointer;
}

.logo {

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 8vh;

}

.nav-list {

    list-style: none;
    display: flex;
}

.nav-list li {

    letter-spacing: 3px;
    margin-left: 32px;

}

main {

  
}

.banner {

    background-size: cover;
    height: 365px;
    width: 1311px;
}

/*Seletor de Filmes*/

.selector-movies {

    background-color: #14141a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.selector-movies-poster {

    background-color: #14141a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}

span {

    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    bottom: 190px;
    left: 30px;
}

.span2{

    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    top: 750px;
}

.span3{

    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: 500;
    top: 1050px;
    left: 600px;
}

.span4{

    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    top: 1600px;

}

.separador{

    display: flex;
    justify-content: center;
    background: #14141a;
}

.separador div {

    width: 50%;
    background-color: white;
    height: 1px;
}

.separador .sep{

    width: 80%;
    background-color: white;
    height: 1px;
}

.slider {

    margin-top: 0.8rem;
    display: flex;
    overflow: hidden;
    /*position: absolute;
    left: 3.75rem;
    right: 0;*/
}

.movie img {

    width: 210px;
    height: 130px;
    padding-right: 10px;
    cursor: pointer;

}

.moviebaner img{

    width: 300px;
    height: 350px;
    padding-right: 20px;
    cursor: pointer;

}

/*Seletor de Filmes*/

body {

    background-color: gray;
}

footer {

    background-color: #14141a;
    justify-content: center;
    display: flex;
}

.fim {

    margin: 50px 100px 50px 0px;
    /*TOP RIGHT BOTTOM LEFT*/
    color: whitesmoke;
}

.ctt{

    cursor: pointer;
}

.vermelho {
    display: block;
}