* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

a {

    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {

    opacity: 0.7;
}

.logo {

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 8vh;

}

.nav-list {

    list-style: none;
    display: flex;
}

.nav-list li {

    letter-spacing: 3px;
    margin-left: 32px;

}

main {

    /* background: url("./assets/banner2.jpg") no-repeat center;
    background-size: cover;
    1326.460.59*/
}

.banner {

    background-color: blue;
    background-size: cover;
}

/*Seletor de Filmes*/

.selector-movies {

    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

span {

    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 190px;
    left: 30px;
}

.span2{

    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 690px;
}

.slider {

    margin-top: 0.8rem;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 3.75rem;
    right: 0;
}

.slider .movie img {

    max-width: 100%;
    padding-right: 5px;
}

/*Seletor de Filmes*/

body {

    background-color: gray;
}

footer {

    background-color: aqua;
    justify-content: center;
    display: flex;
}

.fim {

    margin: 50px 50px 50px 0px;
    /*TOP RIGHT BOTTOM LEFT*/

}

.vermelho {
    display: block;
}