@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

main {

    background-color: #14141a;

}

section {

    height: 410px;
    width: 100%;
}

p {
    
    position: absolute;
    margin: 150px 50px 100px 50px;
    font-size: 20px;
    text-align: center;
    color: white;
}

p:hover {

    color: red;
}

footer {

    background-color: #14141a;
    justify-content: center;
    display: flex;
}

.separador {

    display: flex;
    justify-content: center;
    background: #14141a;
}

.separador div {

    width: 80%;
    background-color: white;
    height: 1px;
}

.fim {

    margin: 50px 100px 50px 0px;
    /*TOP RIGHT BOTTOM LEFT*/
    color: white;
}

.ctt {

    cursor: pointer;
}