body{

    background-color: black;
}

body.bg_Movies{

    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{

    padding: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0)100%);
    
}

header img{

    
}

#box_login{

    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 12px; 
}